KKMainForm1 Bitmap MainForm1.bmp
KKSmallForm1 Bitmap SmallForm1.bmp
KKPlay1 Bitmap playBackgroud1.bmp
KKPage1 Bitmap PageBackGroud1.bmp
KKMtvSearch1 Bitmap MtvSearch1.bmp
KKList1 Bitmap ListBackGroud1.bmp